<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini message Board</title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <a href="/new">Add new message</a>

  <% messages.forEach(message=> { %>
    <h2>
      <%= message.user %>
    </h2>
    <p>
      <%= message.added %>
    </p>
    <p>
      <%= message.text %>
    </p>
    <a href="/messages/<%= message.id %>">View message</a>
    <% }) %>

</body>

</html>
